<div class="center hero-unit">
	<h2>Summer Reading module</h2>
	<% if current_user.admin? %>
	<%= link_to "Create Reader", addNewReader_path, class: "btn btn-large btn-primary" %>
	<%end%>
	<br>
	<br>
	<div style="text-align: center;">
	<%= form_tag searchReaders_path, :method => 'get' do %>
		  	<p>
		    	<%= text_field_tag :name, params[:name], style: "width:40% !important;"%>
		    	<%= submit_tag "Search Readers", :name => nil, class: "btn btn-primary", style: "width: auto;" %>
		  	</p>
			<% end %>
	</div>
	<br>
	<%= link_to "View all Readers", allReaders_path, class: "btn btn-large btn-primary" %>



</div>
