<div class="center hero-unit form">
	<h2>Summer Reading module</h2>
	<div class="row">
		
		<div class="span 6 offset 3">
			<%= form_for(:session, url: sessions_path) do |f| %>
			
				<%= f.label :username %>
				<%= f.text_field :username %>
				
				<%= f.label :password %>
				<%= f.password_field :password %>
				
				<%=f.submit "Sign in", class: "btn btn-large btn-primary"%>
			<%end%>
		</div>
		Forgot credentials? Send an email to helene.maria2209@gmail.com
	</div>
</div>
