<h2>Search Users</h2>


<%= form_tag searchReaders_path, :method => 'get' do %>
	<%= label_tag "Name","Name", style: "width:29% !important;margin-left:2%;" %>
	<%= label_tag "schoolFallName","School Fall Name", style: "width:29% !important;margin-left:5%;" %>
	<%= label_tag "schoolFallGrade","School Fall Grade", style: "width:29% !important;margin-left:5%;" %>
	
	 <%= text_field_tag :name, params[:name], :id => 'search_Name_field', style: "width:29% !important;margin-left:2%;"  %>
     <%= text_field_tag :schoolFallName, params[:schoolFallName], :id => 'search_schoolFallName_field', style: "width:29% !important;margin-left:5%;" %>
     <%= text_field_tag :schoolFallGrade, params[:schoolFallGrade], :id => 'search_schoolFallGrade_field', style: "width:29% !important;margin-left:5%;" %>
       <br>
     <%= submit_tag "Search", :name => nil,class: "btn btn-primary", style: "width: auto;float:right;" %> 
<% end %> 

<%= will_paginate @readers%>


<ul class="readers" style="margin-bottom: 50px;">
	<% @readers.each do |reader| %>
	<li>
	<%=link_to reader.firstName+" "+reader.lastName, reader%>
	| <%=link_to 'Delete', reader, method: :delete, confirm: "Are you sure?" %>
	</li>
	<% end %>
</ul>

<%= link_to "Download CSV", searchExportAll_path(:name => params[:name],:schoolFallName=> params[:schoolFallName],
:schoolFallGrade=> params[:schoolFallGrade], :prize=> params[:prize],format: "csv"), class: "btn btn-large btn-primary" %>
<%= link_to "Download XLS", searchExportAll_path(:name => params[:name],:schoolFallName=> params[:schoolFallName],
:schoolFallGrade=> params[:schoolFallGrade], :prize=> params[:prize],format: "xls"), class: "btn btn-large btn-primary" %>

