<h2>Update reader</h2>
<script type="text/javascript">
  
   function changeFunc() {
    var selectBox = document.getElementById("reader_schoolFallName");
    var newSchool = document.getElementById("reader_newSchoolFallName");
    if (selectBox.selectedIndex ==0){
    	newSchool.style.display = 'block';
    }
    else{
    	newSchool.style.display = 'none';
    }
   }

  </script>

<div class="row">
	<div class="span6 offset">
		<%= form_for (@reader) do |f| %>
			<%= render 'shared/error_messages', object: f.object%>
		
			<%= f.label :firstName %>
			<%= f.text_field :firstName %>
			
			<%= f.label :lastName %>
			<%= f.text_field :lastName %>
			
			<%= f.label :phoneNumber %>
			<%= f.text_field :phoneNumber %>
			
			<%= f.label :email %>
			<%= f.text_field :email %>
			
			<%= f.label :age %>
			<%= f.text_field :age %>
			
			<%= f.label :schoolFallName %>
			<%= f.collection_select :schoolFallName, @schools,:schoolFallName,:schoolFallName, {:prompt => @select_value, :selected => @reader.schoolFallName, :include_blank => "Add new"}, {:onChange=>"changeFunc();"} %>
			
			<%= f.text_field :newSchoolFallName,{ :style=> "display : none;"}%>
			
			<%= f.label :schoolFallGrade %>
			<%= f.select :schoolFallGrade, @grade, :selected => @reader.schoolFallGrade %>
			
			<%= f.label :program %>
			<%= f.select :program, @programs, :selected => @reader.program %>
			
			<%= f.label :tShirtSize %>
			<%= f.select :tShirtSize, @size, :selected => @reader.tShirtSize %>
			
  			
  			
			<%=f.submit "Update the reader", class: "btn btn-large btn-primary"%>
		<% end %>
	</div>
</div>
