<h2>Reader profile</h2>
<%= @reader.firstName %>
<%= @reader.lastName %>
<br>
<%= @reader.phoneNumber %>
<br>
<%= @reader.email %>
<br>
<%= @reader.schoolFallName %>
<br>
<%= @reader.schoolFallGrade %>
<br>
<%= @reader.program %>

<br>
<%= link_to 'Edit', [:edit, @reader] %>
